{{ if eq .Section "episodi" }}
{{ $audioUrl := "" }}
{{ with .Params.spreakerEpisodeId }}
  {{ $audioUrl = printf "https://api.spreaker.com/v2/episodes/%s/download.mp3" . }}
{{ else }}
  {{ with .Params.audioUrl }}
    {{ $audioUrl = . }}
  {{ end }}
{{ end }}
{{/* Convert HH:MM:SS or MM:SS duration string to ISO 8601 (PT...) for schema.org */}}
{{ $isoDuration := "" }}
{{ with .Params.duration }}
  {{ $parts := split . ":" }}
  {{/* trimLeft "0" removes leading zeros that cause Go's strconv to fail (e.g. "09") */}}
  {{ if eq (len $parts) 3 }}
    {{ $hs := index $parts 0 | strings.TrimLeft "0" }}{{ if eq $hs "" }}{{ $hs = "0" }}{{ end }}
    {{ $ms := index $parts 1 | strings.TrimLeft "0" }}{{ if eq $ms "" }}{{ $ms = "0" }}{{ end }}
    {{ $ss := index $parts 2 | strings.TrimLeft "0" }}{{ if eq $ss "" }}{{ $ss = "0" }}{{ end }}
    {{ $h := $hs | int }}{{ $m := $ms | int }}{{ $s := $ss | int }}
    {{ if $h }}
      {{ $isoDuration = printf "PT%dH%dM%dS" $h $m $s }}
    {{ else }}
      {{ $isoDuration = printf "PT%dM%dS" $m $s }}
    {{ end }}
  {{ else if eq (len $parts) 2 }}
    {{ $ms := index $parts 0 | strings.TrimLeft "0" }}{{ if eq $ms "" }}{{ $ms = "0" }}{{ end }}
    {{ $ss := index $parts 1 | strings.TrimLeft "0" }}{{ if eq $ss "" }}{{ $ss = "0" }}{{ end }}
    {{ $m := $ms | int }}{{ $s := $ss | int }}
    {{ $isoDuration = printf "PT%dM%dS" $m $s }}
  {{ end }}
{{ end }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "PodcastEpisode",
  "name": {{ .Title | jsonify | safeJS }},
  "url": "{{ .Permalink }}",
  {{/* ISO 8601 completo di fuso: GSC segnalava "manca un fuso orario" sul troncamento a YYYY-MM-DD */}}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "description": {{ .Params.description | jsonify | safeJS }},
  "episodeNumber": {{ .Params.episodeNumber }},
  "inLanguage": "it",
  "author": [
    {"@type": "Person", "name": "Filippo Strozzi", "url": "https://www.avvocati-e-mac.it"},
    {"@type": "Person", "name": "Roberto Marin", "url": "https://youtube.com/@architecday"}
  ],
  {{ with .Params.tags }}"keywords": {{ delimit . ", " | jsonify | safeJS }},{{ end }}
  {{ with .Params.guest }}{{ $guestPage := $.Site.GetPage (printf "/ospiti/%s" .) }}"performer": {"@type": "Person", "name": {{ if $guestPage }}{{ $guestPage.Title | jsonify | safeJS }}{{ else }}{{ . | jsonify | safeJS }}{{ end }}{{ if $guestPage }}{{ with $guestPage.Params.website }}, "url": "{{ . }}"{{ end }}{{ end }}},{{ end }}
  {{ if or $audioUrl $isoDuration }}
  "associatedMedia": {
    "@type": "MediaObject"{{ with $audioUrl }},
    "contentUrl": "{{ . }}"{{ end }}{{ if $isoDuration }}{{ if $audioUrl }},{{ end }}
    "encodingFormat": "audio/mpeg",
    "duration": "{{ $isoDuration }}"{{ else }},
    "encodingFormat": "audio/mpeg"{{ end }}
  },
  {{ end }}
  "partOfSeries": {
    "@type": "PodcastSeries",
    "name": "{{ .Site.Params.podcastTitle }}",
    "url": "{{ .Site.BaseURL }}"
  }{{ if .Params.hasTranscript }},
  "transcript": "{{ printf "%strascrizioni/ep-%d.srt" .Site.BaseURL .Params.episodeNumber }}"{{ end }}{{ with .Params.youtubeId }},
  "video": {
    "@type": "VideoObject",
    {{/* Stesso strip del prefisso "NN: " applicato all'H1 in episodi/single.html:
         schema e contenuto visibile devono coincidere. */}}
    "name": {{ $.Title | replaceRE `^\d+:\s*` "" | jsonify | safeJS }},
    "description": {{ $.Params.description | jsonify | safeJS }},
    "thumbnailUrl": "https://i.ytimg.com/vi/{{ . }}/maxresdefault.jpg",
    "uploadDate": "{{ $.Date.Format "2006-01-02T15:04:05Z07:00" }}",
    "contentUrl": "https://www.youtube.com/watch?v={{ . }}",
    "embedUrl": "https://www.youtube-nocookie.com/embed/{{ . }}"
  }{{ end }}
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {"@type": "ListItem", "position": 1, "name": "Home", "item": "{{ .Site.BaseURL }}"},
    {"@type": "ListItem", "position": 2, "name": "Episodi", "item": "{{ "episodi/" | absURL }}"},
    {"@type": "ListItem", "position": 3, "name": "Ep. {{ .Params.episodeNumber }}", "item": "{{ .Permalink }}"}
  ]
}
</script>
{{ end }}
